################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RC6_1/v15/Server/sqlite3/db.lock
/.vs/RC6_1/v15/Server/sqlite3
/.vs/RC6_1/v15
/RC6_1/bin/Debug/RC6_1.exe
/RC6_1/bin/Debug
/RC6_1/obj/Debug
